@media only screen and (max-width: 700px){

	.primary-nav.fixed{
		visibility: hidden;
		display: none !important;
	}
	iframe{
		z-index: 2 !important;
	}
	.mobile-nav{
		visibility: visible !important;
		display: block !important;
		position: fixed !important;
		width: 100% !important;
		background: #545454; /* Old browsers */
		background: -moz-linear-gradient(top,  #545454 0%, #0e0e0e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#545454), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #545454 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #545454 0%,#0e0e0e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #545454 0%,#0e0e0e 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #545454 0%,#0e0e0e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
		padding: 5px 0px 5px 0px !important;
		left: 0px;
		top: 0px;
		z-index: 99999 !important;
		.mobile-button{
			background: #000;
			padding-top: 6px;
			margin-top: -6px;
			margin-bottom: -6px;
			border-left: 1px solid darken(#bbb,50%);
			img{
				width: 55px;

			}
		}
		@include boxShadowMulti(0px 0px 10px #000);
		.mobile-tree{
			width: 100%;
			float: left;
			position: relative;
			display: block;
			margin: 6px 0 0 0;
			padding: 0px;
			border-bottom: 1px solid darken(#bbb,50%);
			margin-bottom: -5px;
			li{
				width: 100%;
				float: left;
				position: relative;
				display: block;
				text-align: center;
				font-size: 16px;
				border-top: 1px solid darken(#bbb,40%);
				text-transform: uppercase;
				@include fontStack($futura-bold, '"Futura Std Bold", "Futura Bold", "Futura", sans-serif', 200, normal,26px);
				a{
					color: #c19741;
					width: 100%;
					text-align: center;
					float: left;
					position: relative;
					padding: 10px 0px 10px 0px;
				}
			}
		}
	}
	.abs{
		visibility: hidden !important;
		display: none !important;
	}
	.phil-merge-mobile{
		visibility: visible !important;
		display: block !important;
		width: 100%;
		img{
			height: auto !important;
		}
	}
	.flexslider{
		max-height: none !important;
		width: 290px !important;
		border: none !important;
		height: 193px !important;
		left: 50%;
		margin-left: -145px;
		float: left;
		clear: left;
		margin-bottom: 25px !important;
	}
	#carousel{
		visibility: hidden !important;
		display: none !important;
	}
	.gold-heading{
		width: 100%;
		font-size: 34px;
		line-height: 34px;
	}
	iframe.video{
		visibility: hidden;
		display: none;
	}
	iframe.video-mobile{
		display: block !important;
		visibility: visible !important;
	}
	.home-hero .hero-gutter,
	.accolades .accolades-gutter,
	.accolades .left-col,
	.accolades .right-col,
	.testimonials .left-col,
	.testimonials .right-col,
	.testimonials .testimonials-gutter,
	.photo-gallery .photo-gallery-gutter,
	.photo-gallery .left-col,
	.photo-gallery .right-col,
	.promo-showcase .promo-gutter,
	.promo-showcase .left-col,
	.promo-showcase .right-col,
	.contact-social .contact-gutter,
	.contact-social .left-col,
	.contact-social .right-col,
	.global-footer .footer-gutter,
	.contact-social .right-col .footer-email .left-col,
	.contact-social .right-col .footer-email .right-col{
		width: 95%;
		margin-left: -47.5%;
		clear: left;
		left: 50%;
		top: 0px;
		float: left;
		position: relative;
		display: block;
		min-width: 150px !important;
	}
	.home-hero{
		background-image: none;
		background-color: #44254b;
		margin-top: 55px;
	}
	.home-hero .logo{
		text-align: center;
		width: 100%;
		display: block;
		margin-top: -40px;
		img{
			width: 100%;
			height: auto !important;
		}
	}
	.home-hero .tagline{
		font-size: 35px;
		line-height: 38px;
	}
	.home-hero .tagline{
		width: 100%;
		margin-left: 0px;
		float: left;
		clear: left;
	}
	.home-hero .sub-tagline{
		width: 100%;
		display: block;
		margin-left: 0px;
		margin-top: 10px;
		float: left;
		clear: left;
		sub{
			float: left;
			clear: left;
			width: 100%;
		}
	}
	.home-hero .learn-more{
		visibility: hidden;
		display: none !important;
	}
	.testimonials .left-col .testimonials-ul {
		width: 95%;
		margin-left: -47.5%;
		left: 50%;
		clear: left;
		margin-right: 0px;
		margin-top: 20px;
		text-align: center;
		li {
			width: 100%;
			clear: left;
			margin-right: 0px;
			text-align: center;
			.pic{
				float: none;
				display: inline-block;
			}
			.credit{
				text-align: center;
				margin-top: -10px;
				.cred{
					float: left;
					clear: left;
					position: relative;
					padding: 0px;
					text-align: center;
					width: 100%;
				}//cred
			}//credit
		}//li	
	}//ul left col
	.accolades{
		background-position: 20% center;
	}
	.testimonials .right-col{
		.gold-heading{
			text-align: center;
		}
		.clients ul{
			width: 50%;
			margin: 0px;
			padding: 0px;
			li{
				width: 100%;
				margin: 0px;
				text-align: center;
			}
		}
	}//testimonials
	.testimonials .left-col .testimonials-ul li .quote{
		margin-top: 20px;
		margin-bottom: 0px;
	}
	.testimonials .right-col .clients ul{
		margin-bottom: 20px;
	}
	.photo-gallery {
		background-image: none;
		.right-col{
			overflow: hidden;
		}
		.left-col{
			.standard-p{
				text-align: left;
				width: auto;
			}
			.gold-heading{
				text-align: center;
			}
		}
	}//Photo Gallery
	.promo-showcase{
		padding-bottom: 25px;
	}
	.promo-showcase .right-col {
		margin-top: 25px;
	}
	.accolades{
		padding-bottom: 25px;
	}
	.accolades .awards li{
		margin-top: 20px;
		margin-left: 0px;
	}
	.photo-gallery .left-col {
		margin-top: 20px;
	}
	.contact-social .left-col{
		.logo{
			img{
				width: 100%;
				height: auto;
			}
		}
	}
	.contact-social .tablcell{
		font-size: 15px;
		line-height: 18px;
	}
	.contact-social .right-col .footer-email input, .contact-social .right-col .footer-email textarea{
		padding: 10px 0px 10px 0px !important;
	}
	
	.contact-social .right-col .footer-email .right-col a{
		float: left !important;
		position: relative !important;
		display: block !important;
		margin-bottom: 15px;
	}
	
	.photo-gallery{
		.flex-next{
			margin-right: 60px !important;
		}
		.flex-prev{
			margin-left: 60px !important;
		}
	}
	
}//media query