//`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-
// Default Style Sheet, mainly site confluent styles, used for 90%, non-responsive
//`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-
//`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-
// Phil Cass, 2014 David Roach
//`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-`-

a, a:active, a:visited{
	outline: none !important;
	-moz-outline: none !important;
	text-decoration: none !important;
}

body{ 
	background: #000;
}

.full-width{
	float:left;
	position: relative;
	display: block;
	width: 100%;
}

.float-left{
	float: left;
	position: relative;
	display: block;
}

.float-right{
	float: right;
	display: block;
	position: relative;
}

.clear-left{
	clear: left;
}

.gold-heading{
	color: $gold;
	font-size: 50px;
	@include fontStack($futura-bold, '"Futura Std Bold", "Futura Bold", "Futura", sans-serif', 200, normal,48px);
	text-transform: uppercase;
	margin: 0px;
	padding:0px;
}

.standard-p{
	font-size: 16px;
	@include fontStack($opensans-regular, '"Myriad Pro", "Myriad", sans-serif', 200, normal,26px);
	color: #fff;
	margin: 20px 0px 0px 0px;
	padding: 0px;
}

iframe.video{
	border: 1px solid #fff;
	@include boxShadowMulti(0px 0px 10px #000);
}

.primary-nav{
	background: #000;
	min-height: 55px;
	&.fixed{
		width: 100%;
		display: block;
		position: fixed;
		left: 0px;
		z-index: 999999;
		@include boxShadowMulti(0px 0px 10px #000);
	}
	.nav-center{
		text-align: center;
		@include centerContainer(980,200);
	}
	.nav-logo-popup{
		position: absolute;
		left: 0px;
		top: -18px;
	}
	.primary-nav-links{
		text-align: center;
		display: block;
		margin: 0px;
		padding: 0px;
		@include centerContainer(980,200);
		a{
			color: $main-nav-link;
			font-size: 13px;
			letter-spacing: 1px;
			text-decoration: none;
			text-transform: uppercase;
			@include transAll();
			@include fontStack($opensans-regular, '"Myriad Pro", "Myriad", sans-serif', 200, normal,22px);
			&:hover{
				color: $main-nav-link-active;
			}
		}
		li{
			display: inline-block;
			margin: 18px 20px 0 30px;
		}
	}
	.heading-social{
		float: right;
		position: relative;
		display: block;
		text-align: right;
		a{
			display: inline-block;
			margin: 13px 0px 0px 2px;
			@include transAll();
			&:hover{
				opacity: .7;
			}
		}
		img{
			height: auto !important;
		}
	}
}//Primary Nav

.home-hero{
	background: #222 url(/img/topmost-blurr-bg.jpg) top center repeat-x;
	min-height: 545px;
	padding-top: 55px;
	.hero-gutter{
		@include centerContainer(980,200);
	}
	.logo{
		height: auto !important;
		float: left;
		position: relative;
		display: block;
		margin: 8px 0 0 0;
		padding: 0px;
	}
	.tagline{
		color: #fff;
		margin: 0 0 0 20px;
		padding: 0;
		float: left;
		width: 600px;
		position: relative;
		clear: left;
		text-transform: uppercase;
		font-size: 60px;
		@include fontStack($futura-bold, '"Futura Std Bold", "Futura Bold", "Futura", sans-serif', 200, normal,65px);
	}
	.sub-tagline{
		float: left;
		position: relative;
		display: block;
		clear: left;
		width: 430px;
		font: italic 22px/28px "Georgia", "Times", serif;
		color: #fff;
		margin:20px 0 0 20px;
		padding: 0px;
		sub{
			float: left;
			position: relative;
			clear: left;
			color: #666;
			margin: 10px 0 0 0;
			text-transform: uppercase;
			font-size: 13px;
			letter-spacing: 1px;
			@include fontStack($opensans-regular, '"Myriad Pro", "Myriad", sans-serif', 200, normal,normal);
		}
	}
	.learn-more{
		margin: 27px 0 0 20px;
		@include borderLink();
	}
	.abs{
		position: absolute;
		left: 50%;
		display: block;
		bottom: 0px;
		&.phil{
			margin-left: 60px;
			z-index: 999;
		}
		&.philippa{
			margin-left: 149px;
			bottom: -83px;
		}
		&.duck{
			margin-left: 21px;
			z-index: 9999;
		}
	}
}//Home Hero

.accolades{
	min-height: 658px;
	background: #252525 url(/img/stars.jpg) center center no-repeat;
	@include boxShadowMulti(0px 0px 200px lighten($main-nav-link-active, 10%));
	.accolades-gutter{
		text-align: center;
		@include centerContainer(980,200);
	}
	.awards{
		width: 100%;
		display: inline-block;
		text-align: center;
		margin: 40px 0 0 0;
		padding: 0px;
		li{
			display: inline-block;
			position: relative;
			width: 180px;
			margin-left: 13px;
			vertical-align: top;
			&:first-child{
				margin-left: 0px !important;
			}
		}
		.branches{
			display: inline-block;
		}
		.number{
			position: absolute;
			top: -9px;
			width: 180px;
			left: 50%;
			margin-left: -90px;
			font-size: 62px;
			color: #fff;
			@include fontStack($futura-bold, '"Futura Std Bold", "Futura Bold", "Futura", sans-serif', 200, normal,normal);
			&.big-type{
				width: 100%;
				text-align: center;
				display: block;
				float: left;
				position: relative;
				margin: 20px 10px 12px 0px;
				left: 0px;
				color: $gold;
				letter-spacing: -2px;
				font-size: 54px;
				background: -webkit-linear-gradient(#dbbd6d, #a56a16);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
		.type{
			margin: 10px 0 0 0;
			padding: 0px;
			color: #fff;
			font-size: 16px;
			@include fontStack($opensans-bold, '"Myriad Pro", "Myriad", sans-serif', 200, normal,22px);
			sub{
				color: lighten(#444,20%);
				font-size: 14px;
				@include fontStack($opensans-regular, '"Myriad Pro", "Myriad", sans-serif', 200, normal,20px);
			}
		}
	}//awards
	.media-bank{
		margin-top: 60px;
	}
	.left-col{
		float: left;
		position: relative;
		display: block;
		width: 430px;
		text-align: left;
		.gold-heading{
			float: left;
			width: 100%;
			display: block;
		}
		.standard-p{
			float: left;
			width: 100%;
			display: block;
			margin-top: 20px;
		}

	}
}//Accolades

.testimonials{
	min-height: 480px;
	background: #313131 url(/img/tri-pattern.jpg) 0px 0px repeat;
	.testimonials-gutter{
		@include centerContainer(980,200);
	}
	.left-col{
		float: left;
		position: relative;
		display: block;
		width: 615px;
		.testimonials-ul{
			float: left;
			position: relative;
			display: block;
			margin: 0px;
			padding:0px;
			li{
				float: left;
				position: relative;
				display: block;
				width: 276px;
				text-align: left;
				margin-right: 30px;
				.quote{
					width: 100%;
					margin: 60px 0px 15px 0px;
					color: $gold;
					font: italic 22px/25px "Georgia", "Times", serif;
					float: left;
					position: relative;
					display: block;
				}
				.pic{
					float: left;
					position: relative;
					display: block;
					clear: left;
					height: auto !important;
					margin: 15px 0px 0px 0px;
					@include borderRadius(70px);
				}
				.credit{
					display: table;
					.cred{
						display: table-cell;
						vertical-align: middle;
						text-align: left;
						width: 100%;
						padding-left: 10px;
						padding-top: 10px;
						color: #777;
						font-size: 14px;
						@include fontStack($opensans-regular, '"Myriad Pro", "Myriad", sans-serif', 200, normal,16px);
						strong{
							text-transform: uppercase;
							color: #eee;
						}
					}
				}
			}
		}
	}//Left Col
	.right-col{
		width: 350px;
		.gold-heading{
			float: left;
			position:relative;
			display: block;
			width: 100%;
			text-align: left;
			margin-top: 40px;
		}
		.clients{
			margin-top: 15px;
			ul{
				width: 45%;
				float: left;
				padding: 0px;
				margin: 0px 0px 0px 2%;
				li{
					float: left;
					position: relative;
					display: block;
					color: #fff;
					width: 100%;
					padding: 4px 0px 4px 0px;
					font: normal 14px "Georgia", "Times", serif;
					strong{
						color: $gold;
						display: inline-block;
						margin-right: 5px;
					}
				}
			}
		}
	}
}//testimonials

.photo-gallery{
	background: #2f1736 url(/img/stars-flat.jpg) center center repeat-x;
	min-height: 480px;
	.photo-gallery-gutter{
		@include centerContainer(980,200);
	}
	.left-col{
		float: left;
		position: relative;
		margin: 95px 0px 0px 0px;
		width: 470px;
		a{
			margin: 30px 0px 0px 0px;
			@include borderLink();
		}
	}
	.right-col{
		float: right;
		width: 480px;
		margin: 35px 0px 0px 0px;
		.flexslider{
			margin-bottom: 10px;
			border: 1px solid #fff;
			@include borderRadius(0px);
			object{
				float: left;
				position: relative;
				display: block;
				margin: 0px;
				padding: 0px;
			}
		}
		#carousel{
			li{
				margin-right: 1px;
				cursor: pointer !important;
				img{
					@include transAll();
					&:hover{
						opacity: .7;
					}
				}
			}
			.flex-direction-nav a{
				width: 30px;
				height: 30px;
				font-size: 20px !important;
				color: #fff !important;
				margin-top: -10px !important;
				&:before{
					font-size: 20px;
				}
			}
		}
		.flex-direction-nav a{
			width: 50px;
			height: 50px;
			margin: -25px 0 0;
			&:before{
				color: #fff;
			}
		}
	}
}//photo gal

.promo-showcase{
	min-height: 480px;
	background: #313131 url(/img/tri-pattern.jpg) 0px 0px repeat;
	.promo-gutter{
		@include centerContainer(980,200);
	}
	.left-col{
		position: absolute;
		z-index: 999;
		top: -18px;
		left: -55px;
	}
	.right-col{
		margin: 55px 0px 0px 0px;
		width: 420px;
		float: right;
		position: relative;
		display: block;
		text-align: left;
		a{
			margin: 30px 0px 0px 0px;
			@include borderLink();
		}
	}
}//PromoShowcase

.contact-social{
	background:#222222 url(/img/starring.jpg) 0px 0px repeat;
	min-height: 514px;
	.contact-gutter{
		@include centerContainer(980,200);
	}
	.left-col{
		float: left;
		position: relative;
		display: block;
		width:350px;
		.full-width{
			&.adjust{
				margin-bottom: 15px;
				min-height: 40px;
				display: table;
			}
		}
	}
	.tablcell{
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		height: 40px;
		color: #fff;
		font:normal 17px/20px "Myriad Pro", "Myriad", sans-serif;
		padding: 0px 0px 0px 20px;
		a{
			color:$gold;
			@include transAll();
			&:hover{
				color: #fff;
			}
		}
	}
	.socials{
		margin-left: 60px;
		a{
			float: left;
			position: relative;
			display: block;
			margin-right: 5px;
			@include transAll();
			&:hover{
				opacity: .6;
			}
		}
		.fb-like{
			float: left;
			position: relative;
			display: block;
			margin-top: 5px;
			margin-left: 5px;
		}
	}
	.right-col{
		width: 600px;
		float: right;
		margin-top: 60px;
		.footer-email{
			margin-top: 30px;
			label{
				margin-bottom: 20px;
				text-align: left;
				font:normal 17px/20px "Myriad Pro", "Myriad", sans-serif;
				color: #fff;
				@include transAll();
				span{
					color: $gold;
				}
			}
			input, textarea{
				border: 1px solid #bbb;
				background: #323232;
				padding: 10px;
				color: #eee;
				resize: none;
				font:normal 17px/20px "Myriad Pro", "Myriad", sans-serif;
				@include transAll();
				&:focus{
					outline: none;
					-webkit-outline:none;
					-moz-outline:none;
					background: #bbb;
					border-color: $gold;
					color: #222;
				}
			}
			textarea{
				height: 185px;
			}
			.left-col{
				width: 270px;
				float: left;
				position: relative;
				display: block;
			}
			.right-col{
				float: left;
				position: relative;
				display: block;
				width: 260px;
				margin-left: 50px;
				margin-top: 0px;
				a{
					margin: 20px -22px 0px 0px;
					@include borderLink();
				}
			}
		}
	}
}//contact social

.global-footer{
	background: #000;
	padding: 70px 0px 70px 0px;
	.footer-gutter{
		color: #666666;
		text-align: center;
		font-size: 12px;
		@include fontStack($opensans-regular, '"Myriad Pro", "Myriad", sans-serif', 200, normal,18px);
		@include centerContainer(980,200);
		a{
			color: #666;
			text-decoration: none;
			@include transAll();
			&:hover{
				color: $gold;
			}
		}
	}
}




